* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  width: 100%;
  background: linear-gradient(0deg, rgba(199, 211, 227, 0.5), rgba(199, 211, 227, 0.5)),
  url('../../images/foggy-city3.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loading-icon {
  height: 150px;
  width: 150px;
  margin: 0 45% 0 45%;
}
